@model Jogador

<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>

@{
    ViewData["Title"] = "Login";
}

@* <h1>Tabela de login</h1> *@
@* <link rel="stylesheet" href="~/wwwroot.css/reset-and-basics.css"> *@


@* <form method="post" action="@Url.Action("Logar")">

<label for="">Email</label>
<input type="email" name="Email" required>

<label for=""></label>
<input type="password" name="Senha" required>

<button type="submit">Logar</button>

</form> *@
<main class="fundo-login">

    <div class="bkg-login">
        <form class="frm-login" method="post" action="@Url.Action("Logar")">

            <div class="login-title">

                <hr class="login-line">

                <h1>Login</h1>

            </div>

            <div class="frm-linha">

                <div class="bkg-input">

                    <img src="~/assets/vector-user.svg" alt="ícone de usuário">
                    <input type="email" id="email" name="Email" placeholder="Digite seu e-mail:" required>

                </div>

            </div>

            <div class="frm-linha">

                <div class="bkg-input">

                    <img src="~/assets/vector-key.svg" alt="ícone de chave">

                    <input type="password" id="password" name="Senha" placeholder="Digite sua senha:" required>

                </div>

            </div>

            <button type="submit" class="btn-logar">Logar</button>

            <h2>
                @TempData.Peek("Menssage")
            </h2>

        </form>
    </div>

</main>